@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}
body {
  height: 99vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.passwordbar {
  width: 5rem;
  height: 1.5rem;
  margin-bottom: 200px;
}
.submitbtn {
  font-family: "Montserrat", sans-serif;
  background-color: antiquewhite;
  width: 4.5rem;
  border: 1px black solid;
  border-radius: 3rem;
  height: 1.5rem;
  font-weight: bold;
}
.submitbtn:hover {
  background-color: white;
}
.stext {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 100;
  margin-bottom: 2rem;
}
