@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@font-face {
  font-family: "Carolyna";
  src: url("../fonts/Carolyna\ Pro\ Black.ttf") format("truetype");
}
@font-face {
  font-family: "Garamond";
  src: url("../fonts/Garamond\ Bold.ttf") format("truetype");
}
body {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-attachment: fixed;
  background-image: url("../media/bukett.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overscroll-behavior: none;
  overflow: scroll;
}
.filter {
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  top: 0px;
  position: relative;
  background-color: rgba(250, 235, 215, 0.707);
}
li {
  display: flex;
  font-family: "Garamond";
  font-size: 5rem;
  color: black;
}
main {
  display: flex;
  justify-content: center;
}
.btn {
  display: inline-block;
  text-align: center;
  width: 5.4rem;
  height: 1rem;
  padding: 0.6rem;
  padding-top: 0.9rem;
  border-radius: 0.3rem;
  background-color: antiquewhite;
  font-size: 0.7rem;
  color: black;
}
.btn:hover {
  background-color: white;
}
.lang {
  display: flex;
  justify-content: center;
  margin-top: 1.9rem;
  gap: 0.7rem;
  margin-left: 1rem;
}
#lang-checkbox {
  display: none;
}
#lang-checkbox:checked ~ nav {
  display: block;
}
.lang-icon:hover {
  background-color: white;
}
nav {
  display: none;
  justify-content: space-around;
  margin-top: 10px;
  background-color: antiquewhite;
}
nav {
  position: fixed;
  width: 3.5rem;
}
header {
  position: sticky;
  top: 0;
  padding: 10px;
  font-size: 1rem;
  list-style: none;
}
nav a {
  display: flex;
  padding: 10px 20px;
  font-size: 1rem;
  margin-right: 0px;
  align-content: center;
  justify-content: center;
}
nav a:hover {
  background-color: white;
}
.lang-icon {
  padding: 10px;
  font-size: 2rem;
  background-color: antiquewhite;
  color: black;
}
.lang-icon:focus {
  border: 1px rgb(54, 52, 52) solid;
}
i {
  font-size: 1.8rem;
}
.flag {
  display: flex;
  width: 2rem;
  height: 2rem;
}
ul {
  margin-top: -2rem;
  display: flex;
  justify-content: center;
  width: inherit;
  gap: 4rem;
  margin-right: 4rem;
}
ul a {
  width: 5.4rem;
}
.map {
  display: flex;
  align-content: space-between;
  margin: 1rem;
}
main {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  justify-content: space-around;
  margin: 3rem;
  margin-top: 0.1rem;
  text-align: center;
  align-items: center;
}
.infoheader {
  font-family: "Carolyna";
  font-size: 5rem;
  text-align: center;
  height: 30px;
  z-index: 1;
}
.info-container {
  height: 100%;
}
.infowrapper {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 70%;
  height: 100%;
  border-radius: 1rem;
}
.infowrapper:nth-of-type(-n + 5) {
  align-items: center;
}
.time {
  width: 70%;
  font-size: 1rem;
  padding: 1rem;
}
.attire {
  width: 70%;
  font-size: 1rem;
  padding: 1rem;
}
.transportation {
  width: 70%;
  font-size: 1rem;
  padding: 1rem;
}
.food {
  width: 70%;
  font-size: 1rem;
  padding: 1rem;
}
.gifts {
  width: 70%;
  font-size: 1rem;
  padding: 1rem;
  margin-bottom: 3rem;
}
.iframemap {
  width: 50%;
  max-height: 300px;
  max-width: 300px;
  max-height: 350px;
}
.ranchimage {
  width: 100%;
  max-width: 300px;
}
@media only screen and (max-width: 405px) {
  .infoheader {
    margin-bottom: 1rem;
  }
  .infowrapper {
    width: 95%;
  }
}
@media only screen and (max-width: 776px) {
  .infoheader {
    margin-bottom: 6rem;
    font-size: 4rem;
  }
  .infowrapper {
    width: 80%;
  }
}
@media only screen and (max-width: 550px) {
  .infoheader {
    margin-bottom: 5rem;
  }
  .infowrapper {
    width: 100%;
  }
}
@media only screen and (max-width: 360px) {
  .infoheader {
    margin-bottom: 3rem;
    font-size: 2rem;
  }
}

h2 {
  font-size: 1.2rem;
}
.ranchimage {
  width: 49%;
  max-height: 650px;
  min-width: none;
  margin-bottom: 1rem;
}
.iframemap {
  width: 49%;
  height: 650px;
  margin-bottom: 1rem;
}
.picturewrapper {
  grid-row: 6 /10;
  grid-column: 2 / 12;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: relative;
}
@media only screen and (max-width: 1144px) {
  * {
    font-size: x-small;
  }
  .homepage {
    margin-top: 4rem;
  }
  nav {
    width: 4.25rem;
    z-index: 999;
  }
  .btn {
    padding-top: 1rem;
    text-align: center;
    width: 8rem;
    height: 1.5rem;
    font-size: 0.9rem;
  }
  ul {
    margin-top: -2rem;
    display: flex;
    justify-content: center;
    width: inherit;
    gap: 6rem;
    margin-right: 8rem;
  }
  ul a {
    width: 5.4rem;
  }
}
@media only screen and (max-width: 360px) {
  * {
    font-size: xx-small;
  }
  .mtext {
    font-size: 5.7rem;
  }
  .homepage {
    margin-top: 4rem;
  }
  nav {
    width: 4.25rem;
  }
  .btn {
    padding-top: 1rem;
    text-align: center;
    width: 8rem;
    height: 1.5rem;
    font-size: 0.9rem;
  }
}
